body {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(
    90deg,
    rgb(252, 246, 255) 0%,
    rgb(240, 237, 250) 100%
  );
}

ul {
  list-style: none;
  font-size: 24px;
  color: #a6acec;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 40px;
  left: 30px;
}

li:first-letter {
  text-transform: capitalize;
}

.page {
  max-width: 800px;
  margin: 60px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
}

.search-form .search-button {
  background: #a56cc1;
  border-color: #a56cc1;
}

.search-form .search-button:hover {
  cursor: pointer;
  background: white;
  color: #a56cc1;
  border-color: #a56cc1;
}

.forecast-today {
  margin-top: 40px;
}
.forecast-today h1 {
  font-family: "Bree Serif", serif;
  font-size: 50px;
  margin: 10px 10px 0;
  line-height: 48px;
  color: #a56cc1;
}

.forecast-today button {
  cursor: pointer;
  background: white;
  color: #a56cc1;
  padding: 0 8px;
  border: 1px solid #a56cc1;
  display: inline-block;
  text-align: left;
  position: relative;
  top: -220px;
  left: 190px;
}

.main-temperature {
  font-family: "Bree Serif", serif;
  font-size: 70px;
  margin: 10px;
  color: #a56cc1;
}

.temperature-units {
  font-family: "Bree Serif", serif;
  font-size: 20px;
  color: #a6acec;
  position: relative;
  top: -33px;
  left: -10px;
}

.temperature-units .active {
  color: #a56cc1;
  cursor: default;
}

.temperature-units .active:hover {
  text-decoration: none;
}

.main-date {
  margin: 0 10px;
  font-size: 18px;
  color: #a6acec;
}

.main-weather-icon {
  position: relative;
  top: -85px;
  left: 140px;
  width: 150px;
  height: 150px;
}

.forecast-today {
  position: relative;
  top: 70px;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 900px) {
  .App {
    margin: 30px 30px;
  }
  .forecast-today {
    top: 20px;
  }
  .forecast-today h1 {
    font-size: 44px;
  }
  .main-date {
    font-size: 16px;
  }

  .main-weather-icon {
    left: 100px;
  }

  .description-list ul {
    font-size: 20px;
  }
}
